$background-bar: rgba(11, 10, 16, 1);
$background: rgba(11, 10, 16, 1);
$widget-background: rgba(17, 16, 25, 1);
$shadow: rgba(0, 0, 0, 0.3);
$grey: rgba(105, 101, 124, 0.7);

$black:     #282A36;
$red:     #f1a7b3; 
$green:   #AAC5A0; 
$yellow:  #f6d6b3; 
$orange:  #f2c798; 
$blue:    #A8C5E6; 
$blue2:   #e1eefd; 
$purple:  #f1a7e2; 
$purple2: #ecdbee; 
$teal:    #72B69C; 
$white:   #eae9f0; 

$primary:   #ec4b51;
$secondary: #e0282c;
$tertiary:  #e3d4d5;
