* {
  border: none;
  font-family: 'JetBrainsMono Nerd Font' , 'Symbols Only';
  font-size: 16px;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  min-height: 30px;
}

/* #workspaces { */
/*   border-radius: 10px; */
/*   background-color: #021119; */
/*   color: #2d9f89; */
/*   margin-top: 15px; */
/* 	margin-right: 15px; */
/*   padding-top: 1px; */
/*   padding-left: 10px; */
/*   padding-right: 10px; */
/* } */

#workspaces button {
  background: #021119;
  color: #145866;
}

#workspaces button.active {
  color: #2d9f89;
}
