@define-color bg-hover #1a1a28;
@define-color bg #1E1E2E;
@define-color blue #96CDFB;
@define-color sky #89DCEB;
@define-color red #F28FAD;
@define-color pink #F5C2E7;
@define-color lavender #C9CBFF;
@define-color rosewater #F5E0DC;
@define-color flamingo #F2CDCD;
@define-color fg #D9E0EE;
@define-color green #ABE9B3;
@define-color dark-fg #161320;
@define-color peach #F8BD96;
@define-color border @blue;
@define-color gray2 #6E6C7E;
@define-color black4 #575268;
@define-color black3 #302D41;
@define-color maroon #E8A2AF;

* {
  min-height: 0;
  margin: 0;
  padding: 0;
  border-radius: 0;
  font-family: "Noto Color Emoji", "Iosevka Aile", "JetBrainsMono Nerd Font";
  font-size: 12pt;
  padding-bottom: 1px;
}

tooltip {
  background: @bg;
  border-radius: 7px;
  border: 2px solid @border;
}

window#waybar {
  background-color: transparent;
  color: @lavender;
}

window#waybar.solo > box.horizontal {
  background-color: @bg;
  color: @lavender;
}

window#waybar.solo #taskbar button { border-radius: 5px; }

#taskbar {
  background: @bg;
  margin: 5px;
  border-radius: 7px;
}

#taskbar button {
  padding-left: 10px;
  padding-right: 10px;
  min-width: 0;
}

#taskbar button.active {
  background-color: @flamingo;
  border-color: @flamingo;
}

#taskbar button.minimized {
  background-color: @gray2;
  border-color: @gray2;
}

#taskbar button.maximized {
  background-color: @lavender;
  border-color: @lavender;
}

#taskbar button.fullscreen {
  background-color: @blue;
  border-color: @blue;
}

#taskbar button:hover {
  background: @bg-hover;
  border-color: @bg-hover;
  color: @flamingo;
}

#taskbar button:first-child:hover, #taskbar button:first-child {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
#taskbar button:last-child:hover, #taskbar button:last-child {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}
