* {
  border: none;
  border-radius: 0;
  font-family: CaskaydiaCove Nerd Font;
  font-size: 18px;
  font-weight: bold;
  box-shadow: none;
  text-shadow: none;
  transition-duration: 0s;
}
window#waybar {
  /* background: #111416; */
  background: transparent;
  border-bottom: 1px solid @unfocused_borders;
  color: #f2f2f2;
}

window#waybar.hidded {
  opacity: 0;
}

#workspaces button {
  transition: none;
  color: rgba(217, 216, 216, 0.4);
  background: transparent;
}

#workspaces button.visible {
  color: rgba(217, 216, 216, 1);
}

#workspaces button.focused {
  /* background: #f67e7d; */
  /* color: #111416; */
  color: #f2f2f2;
}

#workspaces button:hover {
  /* background: #9aedfe; */
  background: #f9adad;
  transition: none;
  box-shadow: inherit;
  text-shadow: inherit;
  color: #111416;
}
#workspaces button.urgent {
  /* background: #f53c3c; */
  /* color: #111416; */
  color: #f34f4d;
}

#mode {
  /* background: #ec9867; */
  /* color: #111416; */
  color: #f47d49;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor {
  padding: 0 10px;
  margin: 0 5px;
}

#clock {
  /* background: #f67e7d; */
  /* color: #111416; */
  color: #f2f2f2;
}

#battery {
  /* background: #f67e7d; */
  /* color: #111416; */
  color: #f2f2f2;
}

#battery.charging {
  /* background: #7ad88e; */
  /* color: #111416; */
  color: #7ad88e;
}

@keyframes blink {
  to {
    background: #ffffff;
    color: #111416;
  }
}

#battery.warning:not(.charging) {
  /* background: #f53c3c; */
  /* color: #111416; */
  color: #f67e7d;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.critical:not(.charging) {
  /* background: #f53c3c; */
  /* color: #111416; */
  color: #f67e7d;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#cpu {
  /* background: #f67e7d; */
  /* color: #111416; */
  color: #f2f2f2;
}

#memory {
  /* background: #f67e7d; */
  /* color: #111416; */
  color: #f2f2f2;
}

#backlight {
  /* background: #f67e7d; */
  /* color: #111416; */
  color: #f2f2f2;
}

#network {
  /* background: #f67e7d; */
  /* color: #111416; */
  color: #f2f2f2;
}

#network.disconnected {
  /* background: #f67e7d; */
  /* color: #111416; */
  color: #f2f2f2;
}

#pulseaudio {
  /* background: #f67e7d; */
  /* color: #111416; */
  color: #f2f2f2;
}

#pulseaudio.muted {
  /* background: #f67e7d; */
  /* color: #111416; */
  color: #f2f2f2;
}

#custom-media {
  /* background: #f67e7d; */
  /* color: #111416; */
  color: #f2f2f2;
}

.custom-spotify {
  /* background: #f67e7d; */
  /* color: #111416; */
  color: #f2f2f2;
}

.custom-vlc {
  /* background: #ffa000; */
  /* color: #111416; */
  color: #f2f2f2;
}

#temperature {
  /* background: #f67e7d; */
  /* color: #111416; */
  color: #f2f2f2;
}

#temperature.critical {
  /* background: #f67e7d; */
  /* color: #111416; */
  color: #f2f2f2;
}

/* #tray { */
/* border-bottom: 3px solid #2980b9; */
/* color: #2980b9; */
/* } */
