* {
  font-family: "JetBrainsMono Nerd Font";
  color: #fff;
}

window {
  border: 3px solid #e1e1e1;
  background: #0a0a0a;
  border-radius: 15px;
}

#input {
  margin: 1.5em;
  margin-bottom: 0em;
  padding: 1em;
  border: none;
  font-weight: bold;
  background: #0a0a0a;
  color: #fff;
  border-radius: 15px;
}

#input:focus {
  border: 1px solid #e1e1e1;
}

#inner-box {
  margin: 1.5em;
  margin-top: 0.5em;
}

#outer-box {
  margin-bottom: 0.5em;
}

#scroll {
  margin-top: 5px 0;
  display: none;
}

#text {
  margin-left: 0.5em;
  color: #fff;
}

#text:selected {
  color: #16161e;
}

#entry {
  margin-top: 0.5em;
  border-radius: 15px;
}

#entry:selected {
  background: linear-gradient(90deg, #afafaf 0%, #e1e1e1 80%);
}
